<h1 class="time"> {{schedule.time}} </h1>
<img src="{{icon}}" class="pull-right"/> <img src="{{right}}" class="nav"/>
<div>{{schedule.name}}</div>
<div>{{schedule.location}}</div>
<img src="{{home}}" class="home"/>

