<div class="page">
    <div class="margin-right" />
    <h1 class="time"> {{schedule.time}} </h1>
    <img src="{{left}}" class="nav"/> <img src="{{icon}}" class="main"/> <img src="{{right}}" class="nav"/>
    <div>{{schedule.name}}</div>
    <div>{{schedule.location}}</div>
    </div>
    <div><img src="{{home}}" class="home"/></div>

</div>
